<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="shop.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" ></script>
	</head>
	<body>
		<div style="width: 100%;" id="shopclothe">
			<div class="pic" style="float: left; display: inline;">
				<img v-for="pic in pics" v-on:click="showpic(pic.id)" :src="`./picshop/exam${pic.id}.jpg`" alt="childdress" class="imgbutt">
			</div>
			<div class="specif" style="float: right;">
				<img class="showimage" :src="currectimage">
				<div v-for="pic in pics" class="infdress" v-if="currectimage === `./picshop/exam${pic.id}.jpg`">
					<h1>Size: <span style=" font-weight: lighter;">{{pic.size}}</span></h1>
					<h1>Height: <span style=" font-weight: lighter;">{{pic.height}}</span></h1>
					<h1>Price: <span style=" font-weight: lighter;">{{pic.price}}$</span></h1>
				</div>
			</div>
		</div>
		<script src="shop.js"></script>
	</body>
</html>