.pic {
 border: 2px solid gray;
 width: 50%;
 height: max-content;
 display: inline;
}
.specif{
border: 2px solid gray;
width: 48%;
height: 1129px;
}
.imageclass {
	width: 100%;
	height: 300px;
	
}
.showimage {
	width: 85%;
	height: 700px;
	border: 2px solid grey;
	margin: 54px;

}
.imgbutt {
	display: inline;
	width: 40% ;
	padding:4px;
	margin: 30px;
}
.infdress {
	width: 75% ;
	padding:40px;
	margin-left: 49px;
	height: max-content;
	/* border: 1px solid red; */
	display: block;
}