.pic {
 border: 2px solid gray;
 width: 50%;
 height: 750px;
 display: inline;
}
.specif{
border: 2px solid gray;
width: 48%;
height: 750px;
}
.showimage {
	width: 60%;
	height: 500px;
	border: 2px solid grey;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;

}
.imgbutt {
	display: inline;
	width: 30% ;
	padding:4px;
	margin-left: 10px;
	margin-top: 37px;
	border: 2px solid gray;
	height: 300px;
}
.infdress {
	width: 75% ;
	padding:30px;
	margin-left: 49px;
	height: max-content;
	/* border: 1px solid red; */
	display: block;
}